@charset"UTF-8"
@font-face{
 font-family:"NanumBarunGothic";
 font-style:normal;
 font-weight:400;
 src:url("../font/NanumBarunGothic.eot");
 src:url("../font/NanumBarunGothic.eot?#iefix") format("embedded-opentype"),
     url("../font/NanumBarunGothic.woff")format("woff"),url("../font/NanumBarunGothic.ttf")
    format("truetype");}

/* í•‘í¬ #d2466d */
/* ë„¤ì´ë¹„ #173f73 */
/* bg #f0f0f0 */

#warp{
	position: relative; width: 100%; height: 100%; min-width: 1024px; margin: 0; padding: 0;
}

/*clearfix*/
.clearfix: before, .clearfix: after { content: ""; display: table; }
.clearfix: after { clear: both; }

/*ê³ ì •header*/
.page-header {position: fixed;background-color: #fff;z-index:10;width:100%;box-shadow: 0 0 7px rgba(0,0,0,0.1);}
.page-header > .inner {margin:0 4%; width: 92%; height:auto; display:table; min-width:1024px; z-index:10; }

/* Logo */
#site-logo {float: left;width: 15%;padding: 10px 0;}
#slidingmenu {display:none;}
#menu {position:absolute;/* z-index:1; */width:30%;height:900px;background-color: rgba(0,0,0,0.8);color:#fff;top: 45px;left: -100%;font-family: 'Nanum Gothic';font-size: 0.8em;}
#accordian {width: 74%;color: #fff;margin:10% auto;}
#accordian h3 {font-size: 1em; margin:10% 0; cursor: pointer; font-weight:400;}
#accordian p {float:right; font-size: 1.2em;}
#accordian h3:hover {color:#d2466d; transition:all ease-in 0.2s; }
#accordian ul ul li a {color: #fff; font-size: 0.75em; margin:6% 0; padding:0 15px; display: block; -webkit-transition: all 0.15s; -moz-transition: all 0.15s;  -o-transition: all 0.15s; -ms-transition: all 0.15s; transition: all 0.15s;}
#accordian ul ul li a:hover {border-left: 5px solid #d2466d;}
#accordian ul ul {display: none; margin:1% 0; }




/*Primary nav*/
nav {position:relative;width: 92%; margin: 0 auto;}
#top-menu {position:relative; width:70%; float:left;text-align:center;}
#top-menu > li{display: inline-block;padding: 10px 20px;text-align:center;font-family:'Nanum Gothic';}
#top-menu li:hover > a{ color: #d2466d; font-weight:900; }

#right-menu {position:relative;float: right;width: 15%;text-align:right;padding: 10px 0;}
#right-menu li {display:inline-block;font-size:0.8em;margin-left: 10px;font-family:'Nanum Gothic';}
#right-menu li:first-child{margin:0;}
#right-menu li a:hover { color: #d2466d; font-weight:900;  }

/* Dep */
.sub_menu {position: fixed;width: 100%;top: 45px;left: 0;box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.03);background: rgba(255,255,255,0.9);border-top: 1px solid #efefef;}
.sub_menu a:hover { color: #d2466d; font-weight:900;}

#menu1_sub div {/* position:relative; */text-align:center;margin:0 auto;/* display:table; */width: 700px;}
#menu1_sub ul {position:relative; width:14%; float:left; text-align:center;  margin:2% auto; font-size:0.8em;}
#menu1_sub li {text-align:center; display:inline-block; width:100%;  font-size:0.9em;}
#menu2_sub div {position:relative;text-align:center;margin:0 auto;display:table;width: 650px;}
#menu2_sub ul {position:relative; width:16%; float:left; text-align:center;  margin:2% auto; font-size:0.8em;}
#menu2_sub li {text-align:center; display:inline-block; width:100%;  font-size:0.9em;}
#menu3_sub div {position:relative;text-align:center;margin:0 auto;display:table;width: 600px;}
#menu3_sub ul {position:relative; width:24.5%; float:left; text-align:center; margin:2% auto; font-size:0.8em; }
#menu3_sub li {text-align:center; display:inline-block; width:100%;}


/* main*/
.page-section1 {position: relative;width: 92%;margin: 0 4%;top: 45px;}

/* banner */
.page-section2 {position:relative;margin: 14% auto 10%;display:table;width:74%;text-align:center;}
.page-section2 img{ position:relative; width:30%; margin:0 1.65%; display:inline-block; }

.page-section3 {position: relative; min-width:1024px;  width:71%; margin: 0 auto; display:table; text-align:center;}
.page-section3 img {position:relative;  width:100%; display:inline-block; }

/* new in */
.page-section4{ position: relative;  width: 75%; min-width:1024px; margin: 0 auto; display:table; margin-top: 10%; font-family:'Nanum Gothic';  }
.page-section4 ul {text-align:center;}
.page-section4 li {margin:2%;display:inline-block;text-align:center;/* font-size:1.2em; */color:#626263;}
.page-section4 li:hover {cursor:pointer; }

/* new in ëª©ë¡ */
.page-section5{ position: relative; width: 75%;min-width:1024px;  margin: 0 auto; display:table; }
.page-section5 div{float:left;}

#new {width:96.5%; margin:0 1.5%; z-index:1; }
#best {width:96.5%; margin:0 1.5%; display: none;}

.page-section6 li {position:relative; width: 20%; margin: 2.4% ; float:left;}
.page-section6 div {opacity:0;position:absolute;background-color:rgba(255,255,255,0.7);width: 90%;height:30%;z-index:5;text-align:center;bottom:-25%;margin:0 5%;font-size: 0.6em;line-height: 1.4vw;}

.page-section6 div p:nth-child(1) {font-family:"NanumBarunGothic-bold";margin-top:7%;}
.page-section6 div p:nth-child(2) {}
.page-section6 div p:nth-child(3) {font-family:"NanumBarunGothic-bold";}
.page-section6 li:hover p {cursor:pointer; }

.page-section6 li:hover {cursor:pointer;  overflow:hidden;}
.page-section6 li:hover img {opacity:0.8;}
.page-section6 li:hover p {opacity: 1;}
.page-section6 li:hover div{opacity: 1; transition: all 0.3s ease-in-out; bottom:3%; }




/* Season Collection */
.page-section7{ position: relative; width: 100%;min-width:1024px;  margin: 10% auto; display:table; background-color:#f0f0f0; text-align:center; font-family:'Nanum Gothic';  }
.page-section7 div{width:100%; margin:4% auto; font-size:2em; font-weight:900; }
.page-section7 ul {width:100%; height:12%; float:left; text-align:center; margin-bottom:5%; }
.page-section7 li {width:15%; margin:0 1.5%; display:inline-block; text-align:center;  }
.page-section7 li > div {margin:0; overflow:hidden;}
.page-section7 li > p {position: absolute;  width:0%; height:3%; margin-top:-0.9%; background-color:#d2466d; opacity:0; }
.page-section7 li:hover {cursor:pointer; overflow:hidden;}
.page-section7 li:hover p{ width:15%; height:3%; transition: all 0.25s ease-in-out; opacity:1;}
.page-section7 li:hover div > img {
	-webkit-transform: scale(1.05,1.05) ;
	-moz-transform: scale(1.05,1.05) ;
	-o-transform: scale(1.05,1.05) ;
	-ms-transform: scale(1.05,1.05) ;
	transform: scale(1.05,1.05) ;
	transition: all 0.5s ease-in-out;
 }

/* instagram */
.page-section8{ position: relative; width: 100%;min-width:1024px; margin: 10% auto; font-family:'Nanum Gothic'; }
.page-section8 p{ margin: 0 auto; text-align:center;  }
.page-section8 p:nth-child(1) { font-size:2em; font-weight:900;}
.page-section8 p:nth-child(2) { font-size:1.1em; color: #5c5c5c; margin: 0.5%;}
.page-section8 p:nth-child(3) { margin: 1%; }

    .swiper-container {
        width:92%;
        margin: 20px auto;
    }
	#pre {
		position:fixed; width:3%; z-index:1; text-align:center; background-color:rgba(255,255,255,0.3); padding:5% 0;
	}
	#next {
		position:fixed;  width:3%;  z-index:1; text-align:center; background-color:rgba(255,255,255,0.3); padding:5% 0;right:-60%;
	}
    .swiper-slide {
        text-align: center;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/* ê³ ì •footer */
.page-footer { position: relative; width: 100%; min-width:1024px; background-color:#f0f0f0; display:table; font-family:'Nanum Gothic'; }
.page-footer ul {position: relative; width:100%; margin: 2% auto; display:inline-block; text-align:center; }
.page-footer li {display:inline-block; font-size:1em; color:#5c5c5c; margin: 0 1%; }
.page-footer li a:hover { color: #000; font-weight:900;}

.page-footer p{ text-align:center; }
.page-footer p:first-child { font-size:1.7em; font-weight:700; margin-top:2%;}

.corp { font-size:0.8em; color:#5c5c5c; }
.corp span+span:before { content:"|"; margin:0.2%; }

.page-footer p:nth-child(5) { font-size:0.7em; color:#5c5c5c;  margin: 1%; }
.page-footer button { background-color:#fff; border:1px solid #000; padding: 0.2%; margin: 0.2%;}
.page-footer button:hover { color:#fff; background-color: #5c5c5c; border-color: #5c5c5c; }
.page-footer p:nth-child(6)  { font-size:0.7em; color:#5c5c5c; margin-bottom: 1%; }

/* media screen */
@media only screen and (min-width:768px) and (max-width:1024px){
	.page-header > .inner {margin:0 auto; width: 92%; height:auto; display:table; z-index:1; min-width:768px;}
	#slidingmenu {display:block;width: 6%;float: left;padding: 7px 0;}
	#slidingmenu:hover {cursor:pointer;}
	#right-menu {font-size:0.9em;width: 20%;}
 	#top-menu {;display: none;}

	.page-section1 { width: 92%; margin: 0 4%;}
	.page-section2 {width:85%;min-width: 690px;}
	.page-section3 {width:85%;min-width: 100%;}
	.page-section4{ width: 75%; min-width:768px; }
	.page-section5{width: 90%;min-width: 95%;}
	.page-section5 li {margin:1%; width:23%; }
	.page-section6 { width: 90%;}
	.page-section6 div { line-height: 1.7vw; }
	.page-section7 { min-width:768px; font-size:0.8em; }
	.page-section7 li p:first-child { width: 60%; margin:0 auto; }
	.page-section8{ width: 100%; min-width:768px; font-size:0.75em; }
	.page-footer { min-width:768px; font-size:0.9em;}
}

@media only screen and (max-width:768px){
  .page-header > .inner {margin:0 auto; width: 92%; height:auto; display:table; z-index:1; min-width:768px;}
	#slidingmenu {position: absolute;display:block;width: 3%;float: left;padding: 10px 0;}
	#slidingmenu:hover {cursor:pointer;}
  #site-logo {width: 100%;text-align: center;}
  #site-logo a img {width: 25%;}
	#right-menu {display: none;}
 	#top-menu {;display: none;}

  .page-section1 {width: 100%;margin: 0 auto;}
	.page-section2 {width: 95%;margin: 20% auto 10%;}
	.page-section3 {width:85%;min-width: 100%;}
	.page-section4{width: 100%;min-width: 100%;font-size: 1em;}
	.page-section5{width: 90%;min-width: 95%;}
	.page-section5 li {margin: 3%;width: 44%;}
	.page-section6{width: 90%;}
	.page-section6 div {font-size: 0.7em;line-height: 3vw;}
	.page-section7{min-width: 100%;font-size: 0.5em;}
	.page-section7 li p:first-child { width: 60%; margin:0 auto; }
	.page-section8{width: 100%;min-width: 100%;font-size: 0.5em;}
	.page-footer {min-width: 100%;font-size: 0.5em;}
}
